body {
  background: #rgb(190, 190, 190);
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

/* Remove chromes yellow background on autofill */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

.login-container {
  width: 350px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding: 30px;
  background: rgb(225, 225, 225);
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

.form {
  width: 100%;
  height: 100%;
  display: block;
}
  .form .button {
    margin-top: 15px;
    height: 40px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    background: #3498db;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.8);
  }

.form-group {
  width: 100%;
  height: 85px;
  margin-bottom: 15px;
  margin-right: 0;
}

  .form-group label {
    display: block;
    width: 100%;
    height: 25px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 5px;
  }

  .form-group input {
    width: 100%;
    height: 30px;
    font-size: 17px;
    padding-left: 5px;
    border: 0;
  }

  .form-group .validation {
    display: none;
    height: 25px;
    padding: 5px;
    background: #c0392b;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .form-group .validation.invalid {
    display: block;
  }
